#friends-display-link {
    display: block;
    padding: 15px 0px;
    text-align: center;
    background-color: #e9e8e8;
    margin-bottom: 10px;
    margin-top: -15px;
}

#friends-display-link i {
    opacity: 0.3;
}

#friends-display-link i:last-child {
    margin-left: 10px;
}

.friends-screen__channel {
    border-top: var(--main_border);
    padding-top: 15px;
}

.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color: var(--main_gray);
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--yellow);
    animation: hideSplashScreen 0.6s ease-in-out forwards;
    animation-delay: 0.1s;
}
