.badge {
    display: flex;
    height: 22px;
    width: 22px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    background-color: tomato;
}

.badge--small {
    display: flex;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: tomato;
}
