.phone-main__info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone-main__info-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.phone-main__album-img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    box-shadow: 0px 10px 30px #82f2fc;
}

.phone-main__info-title {
    font-size: 25px;
    opacity: 0.8;
    margin-bottom: 15px;
}

.phone-main__info-subtitle {
    font-size: 15px;
    opacity: 0.4;
}
