:root {
    --navy: #1a2530;
    --orange: #ff9633d2;
    --yellow: #e9bf37;
    --light-gray: #d9e0dd;
    --horizontal_space: 10px;
    --title_opacity: 0.8;
    --midtitle_opacity: 0.7;
    --subtitle_opacity: 0.2;
}
