.friends-nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    box-sizing: border-box;
    border-top: 1px solid #dddddd;
}

.friends-nav__list {
    display: flex;
    justify-content: space-between;
}

.friends-nav__link {
    position: relative;
}

.friends-nav__notification-msg {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.friends-nav__notification-ellipsis {
    position: absolute;
    left: 35px;
    bottom: 30px;
}
