.icon-row {
    display: flex;
    flex-wrap: wrap;
}

.icon-row i {
    font-size: 30px;
    margin-bottom: 20px;
}

.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.icon-row__icon span {
    text-align: center;
}

.icon-rows {
    margin-top: 10px;
    border-bottom: var(--main_border);
}
